### Importing the Packages

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Loading Data or Retrieving the Data

In [2]:
train_df = pd.read_csv("bigmart_train.csv") 
test_df = pd.read_csv("bigmart_test.csv")
df_list = [train_df, test_df]

### Data Cleaning

In [3]:
train_df.shape

(8523, 12)

In [4]:
test_df.shape

(5681, 11)

In [5]:
df = pd.concat(df_list)

In [6]:
df.shape

(14204, 12)

In [7]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [8]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [9]:
mean_iw = df['Item_Weight'].mean()
df.Item_Weight.fillna(value = mean_iw, inplace = True)
mean_ios = df['Item_Outlet_Sales'].mean()
df.Item_Outlet_Sales.fillna(value = mean_ios, inplace = True)
mode_os = df['Outlet_Size'].value_counts().idxmax()
df.Outlet_Size.fillna(value  = mode_os, inplace = True)

In [10]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [11]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [32]:
df.loc[df.duplicated(), :]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

### Data Visualization

In [1]:
# Differ the categorical_columns and numerical_columns

categorical_columns = []
numerical_columns = []
for col in df.columns:
    if df[col].dtypes == object:
        categorical_columns.append(col)
    else:
        numerical_columns.append(col)
print(categorical_columns) 
print(numerical_columns)

NameError: name 'df' is not defined

In [ ]:
# Visualize the categorical columns by using the count plot
for i in categorical_columns:
    fig,ax = plt.subplots(1,1, figsize=(5,4))
    sns.countplot(x=df[i][1:])

In [ ]:
# Visualize the numerical columns using the distplot
for i in numerical_columns:
    fig, ax = plt.subplots(1,1, figsize=(8,4))
    sns.distplot(x = df[i][1:])